.fasdasales-pagination {
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.fasdasales-pagination .icon {
  height: 1rem;
  width: 1rem;
}

.fasdasales-pagination__container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
}
.fasdasales-pagination__item {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
  user-select: none;
  border: none;
  background-color: transparent;
}

.itemActive {
  background-color: #f3f3fe1f;
}
.fasdasales-pagination__ellipsis {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  transition: all 0.2s;
  user-select: none;
  border: none;
  background-color: transparent;
}